<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>ListView</title>
</head>

<body>
    <table border="1">
        <tr>
            <th>作品リスト</th>
        </tr>
        {% for work in object_list %}
        <input type="radio" name="example" value="この作品に投票" checked>

        <tr>
            <td>{% load static%}
                    <img src="{{ work.thumbnail.url }}" width="100" height="100">
                {{ work.title }}
                <p>作った人/{{ work.creator_name }}</p>
                <form method="post">
                    <p>投票しますか？</p>
                    <input type="radio" name="a1" value=work>はい
                    </form></td>
        </tr>
        {% endfor %}
    </table>
    <p><input type="submit" value="送信する"></p>
</body>

</html>