{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>ListView</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">
</head>

<body>
    <h1>投票ページ</h1>
    <table border="0">
        {% for work in object_list %}
        <tr>
            <td><div class="box">
                <span class="box-title">作品名</span>
                <p class="title">{{ work.title }}</p>
                </div>
                <img src="{{ work.thumbnail.url }}" width="800" height="500">
                <p class="user">作った人/{{ work.creator_name }}</p>
                <form method="post">
                    <input type="radio" name="a1" value=work><nodr class="message">この作品にする！</nodr>
                    </form></td>
        </tr>
        {% endfor %}
    </table>
    <p><input type="submit" value="投票する"></p>
</body>

</html>