{% load static%}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>ListView</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">
    <script language="javascript" type="text/javascript">
    function poll_decide(title,creator_name) {
        if (confirm("この作品に決定する？"　+ "\n" + title +　"\n" + creator_name)) {
            window.open("finish", "投票ページに戻ります。")
        }
    }
    </script>
</head>

<body>
    <h1>投票ページ</h1>
    <table border="0">
        {% for work in object_list %}
        <tr>
            <td><div class="box">
                <span class="box-title">作品名</span>
                <p class="title">{{ work.title }}</p>
                </div>
                <img src="{{ work.thumbnail.url }}" width="800" height="500">
                <p class="user">作った人/{{ work.creator_name }}</p>
                <form action="radio.php" method="post">
                    <input type="radio" name="poll" value=work id="button"  onclick="poll_decide('{{ work.title }}','{{ work.creator_name }}');"/>
                    <label for="button" class="label">この作品にする！</label>
                    </form></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>